html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Comfortaa", cursive;
  /* font-family: "Yeseva One", cursive; */
  font-weight: 400;
  font-size: 14px;
  color: #000;
  font-style: normal;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
}

.section {
  padding-bottom: 150px;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  border: none;
  border-color: transparent;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
}


.menu__btn span {
  height: 1px;
  background-color: #7b6152;
  width: 100%;
}

.button {
  background-color: #ffbd59;
  padding: 18px 54px;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
}

.section--decor {
  position: relative;
}

.section--decor::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/section-decor.png);
  width: 22px;
  height: 30px;
}

.section--decor::after {
  content: '';
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7B6152;
  width: 1000%;
  height: 1px;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

.header {
  background-color: #fff8f3;
}

.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: '';
  background-image: url(../images/phone.svg);
  width: 15px;
  height: 15px;
  left: -19px;
  top: -3px;
  position: absolute;
}


/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}

.top {
  padding: 40px 0 150px;
}

.top__inner {
  position: relative;

}

.top__content {
  width: 370px;
  padding: 150px 0 250px;
}

.top__title {
  font-size: 30px;
  font-family: "Yeseva One", cursive;
  margin-bottom: 15px;
  font-weight: 400;
}

.top__text {
  margin-bottom: 48px;
}

.top__buy {
  background-color: #ffbd59;
  padding: 18px 54px;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */
/* ABOUT */

.about {
  background-color: #A5978E;
  padding: 50px 0;
  color: #fafafa;
  margin-bottom: 150px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 370px;
}

.about__text {
  margin-bottom: 15px;

}

.about__list {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 110px;
  padding-bottom: 48px;
  flex-basis: 930px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}


/* PRODUCT */
/* PRODUCT */
/* PRODUCT */
/* PRODUCT */
/* PRODUCT */
/* PRODUCT */

.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}


.section__content-descr {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 92px;
}

.products__content {
  gap: 50px 0 90px;
}

.products__item {
  width: 290px;
  text-align: center;
  margin: 0 auto;
}

.products__item-img {
  margin-bottom: 8px;
}

.product__item-price {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
}

.products__item-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
}

.product__item-text {
  font-size: 12px;
  margin-bottom: 27px;
}

.button {
  background-color: #ffbd59;
  padding: 18px 54px;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
}


/* STEPS */
/* STEPS */
/* STEPS */
/* STEPS */
/* STEPS */
/* STEPS */

.steps__list {
  gap: 70px 25px;
  counter-reset: number;
}

.steps__item {
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}

.steps__item::before {
  counter-increment: number;
  content: '0'counter(number);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  color: #BEA495;
  font-family: "Yeseva One", cursive;
}

.steps__item:nth-child(n+10):before {
  content: counter(number);
}

.steps__item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
}

.steps__item.steps__item--even::before {
  left: auto;
  right: 0;
}

/*COURSES */
/*COURSES */
/*COURSES */
/*COURSES */
/*COURSES */
/*COURSES */

.courses__item-img {
  position: relative;
  color: #fff;
  font-size: 11px;
  font-family: "Yeseva One", cursive;
}

.courses__title {
  padding: 15px;
  background-color: #BEA495;
  position: absolute;
  left: 10px;
  top: 45%;
}

.courses__time {
  padding: 8px 10px;
  background-color: #BEA495;
  position: absolute;
  left: 10px;
  top: 60%;
}

.courses__time span {
  font-size: 10px;
  font-style: normal;
  font-family: "Comfortaa", cursive;
}

.courses__price {
  padding: 19px 10px;
  background-color: #BEA495;
  position: absolute;
  bottom: 2px;
  right: 0px;
}

/* TEAM*/
/* TEAM*/
/* TEAM*/
/* TEAM*/
/* TEAM*/
/* TEAM*/

.team {
  background-color: #A5978E;
  padding: 80px 0 60px;
  color: #fff;
  margin-bottom: 150px;
}

.team__content {
  padding-bottom: 0;
  gap: 75px;
}

.team__item {
  position: relative;
}

.team__item-box {
  background-color: #7B6152;
  text-align: center;
  position: absolute;
  padding: 15px 10px 16px;
  width: 165px;
  z-index: 4;
  bottom: 13px;
  right: 33px;
}

.team__item-name {
  font-size: 12px;
  font-family: "Yeseva One", cursive;

}

.team__item-descr {
  font-size: 10px;
}


/* FEEDBACK */
/* FEEDBACK */
/* FEEDBACK */
/* FEEDBACK */
/* FEEDBACK */
/* FEEDBACK */

.feedback__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 16px;
  align-items: center;
}

.feedback__descr {
  margin-right: 20px;
}

.feedback__item-video {
  position: relative;
}

.feedback__item-videobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.feedback__item-social {
  margin-bottom: 12px;
}

.feedback__item-name {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Yeseva One", cursive;
}

.feedback__item-text {
  margin-bottom: 15px;
}

.feedback__content {
  padding-bottom: 110px;
}

.feedback__item-content {
  padding-bottom: 70px;
}

.feedback__item-btn {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.feedback__slider {
  width: 760px;
  overflow: hidden;
}


.feedback__content .swiper-pagination {
  bottom: 50px;
}

.swiper-pagination-bullet {
  background-color: #BEA495;
  width: 53px;
  height: 4px;
  border-radius: 0;
  opacity: 1;

}

.swiper-pagination-bullet-active {
  background-color: #7B6152;
}

.certificates__slider {
  width: 1135px;
  overflow: hidden;
}

.certificates__descr {
  margin-right: 20px;
}

.certificates__content {
  padding-bottom: 114px;
}


.certificates__content .swiper-pagination {
  bottom: 60px;
  /* text-align: left; */
}

/* ACCORDEON */
/* ACCORDEON */
/* ACCORDEON */
/* ACCORDEON */
/* ACCORDEON */
/* ACCORDEON */

.accordeon {
  /* overflow: hidden; */
}

.accordeon__item {
  background-color: #fafafa;
  margin-bottom: 10px;
}

.accordeon__title {
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  display: block;
  text-align: left;
  background-color: transparent;
  padding: 16px 50px 16px 13px;
  position: relative;
  /* width: 100%; */
}

.accordeon__title::before {
  content: "";
  background-image: url(../images/arrow.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  top: 16px;
  right: 26px;
}



.accordeon__title.accordeon__title--active::before {
  transform: rotate(180deg);
}

.accordeon__text {
  /* overflow: hidden; */
  opacity: 0;
  max-height: 0;
  transition: opacity .3s, max-height .3s;
  /* padding: 20px 40px; */
}

.accordeon__text ol {
  padding: 20px 40px;
}

.accordeon__text.accordeon__text--visible {
  display: inline-block;
  opacity: 1;
}

/* PROMO */
/* PROMO */
/* PROMO */
/* PROMO */
/* PROMO */
/* PROMO */

.promo {
  background-image: url(../images/promo.jpg);
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo__inner {
  display: flex;
  align-items: center;
}

.promo__text {
  font-size: 40px;
  font-family: "Yeseva One", cursive;
  color: #fff;
  padding-left: 56px;
  max-width: 770px;
  margin-right: 110px;
}

.promo__link {
  color: #272727;
  background-color: #ffbd59;
  display: inline-block;
  padding: 14px 25px 12px;
}

/* CONTACTS */
/* CONTACTS */
/* CONTACTS */
/* CONTACTS */
/* CONTACTS */
/* CONTACTS */

.contacts {
  padding: 150px 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-inner {}

.form {
  background-color: #fff;
  width: 664px;
  padding: 75px 42px 57px;
}

.form__title {
  font-family: "Yeseva One", cursive;
  margin-bottom: 60px;
  font-size: 40px;
}

.form__input {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 7px 10px;
  color: #000;
}

.form__input::placeholder {
  color: #b3b3b3;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.form__btn {
  background-color: #ffbd59;
  font-weight: 600;
  font-size: 14px;
  color: #272727;
  font-family: "Comfortaa", cursive;
  margin-top: 36px;
  padding: 17px 34px;
}

.contacts__img {}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.email {
  margin: 20px 0;
}

.footer__social {
  display: flex;
  gap: 15px;
}

















@media (max-width: 1150px) {

  .feedback__inner {
    grid-template-columns: 260px auto;
  }

  .feedback__item-text {
    width: 260px;
  }

  .feedback__slider {
    width: 690px;
  }

  .certificates__content img {
    width: 280px;
  }

  .certificates__slider {
    width: 880px;
  }

  .certificates__content .swiper-pagination {
    text-align: center;
  }
}







@media (max-width: 1050px) {
  .steps__list {
    gap: 37px 35px;
  }

  .steps__item {
    gap: 0 30px;
  }

  .promo__link {
    min-width: 135px;
    text-align: center;
  }

  .promo__text {
    padding-left: 0;
  }
}


@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }

  .top__img-l {
    width: 655px;
  }

  .top__img {
    left: 300px;
  }

  .top__text {
    margin-bottom: 20px;
  }

  .about__content {
    min-width: 300px;
  }

  .about__list {
    padding-left: 20px;
  }

  .section__inner {
    grid-template-columns: 200px auto;
    gap: 0 10px;
  }

  .products__content {
    gap: 67px;
  }

  .section__text {
    font-size: 10px;
  }

  .steps__title {
    font-size: 30px;
  }

  .team__content {
    gap: 30px 20px;
  }

  .section__descr .title {
    font-size: 35px;
  }

  .team {
    padding: 50px 0;
  }

  .contacts__img {
    width: 336px;
  }
}

/* @media (max-width: 930px) {

  .feedback__item-video {
    width: 200px;
  }

  .feedback__item-img {
    width: 200px;
  }

  .feedback__slider {
    width: 447px;
  }

  .feedback__item-content {
    padding-bottom: 45px;
  }
} */

@media (max-width: 980px) {
  .steps__list {
    gap: 25px 35px;
  }

  .steps__item {
    gap: 20px;
  }

  .steps__item-img {
    width: 85px;
    object-fit: cover;
  }

  .steps__item-text {
    font-size: 8px;
  }

  .steps__item::before {
    font-size: 20px;
  }
}


@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }

  .footer__social {
    justify-content: center;
  }

  .products__content {
    gap: 30px 16px;
  }
}


@media (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .container {
    max-width: 640px;
  }

  .phone::before {
    width: 10px;
    height: 10px;
    background-size: cover;
    left: -13px;
    top: -1px;
  }

  .top__content {
    width: 230px;
  }

  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .top__text {
    font-size: 10px;
    margin-bottom: 20px;
  }

  .top__img {
    left: 180px;
  }

  .about__content {
    min-width: 200px;
  }

  .title {
    font-size: 15px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__list {
    margin-left: 10px;
    padding-bottom: 33px;
    gap: 0 10px;
  }

  .about__item-text {
    font-size: 6px;
  }

  .about__item-img {
    margin-bottom: 6px;
  }

  .about__item-img--1 {
    width: 120px;
  }

  .about__item-img--2 {
    width: 190px;
  }

  .about__item-img--3 {
    width: 120px;
  }

  .products__item {
    width: 200px;
  }

  .products__item-img {
    width: 200px;
    margin-bottom: 6px;
  }

  .button {
    font-size: 12px;
    padding: 10px 26px;
  }

  .product__item-text {
    font-size: 8px;
    margin-bottom: 18px;
  }

  .product__item-price {
    font-size: 12px;
    margin-bottom: 7px;
  }

  .products__item-title {
    font-size: 12px;
    margin-bottom: 9px;
  }

  .courses__title {
    padding: 6px;
    left: -1px;
    top: 40%;
  }

  .courses__time {
    padding: 5px;
    left: -1px;
    top: 55%;
  }

  .courses__price {
    padding: 10px;
    bottom: 0px;
    right: -1px;
  }

  .team__img {
    width: 140px;
  }

  .team__item-box {
    padding: 10px 9px 6px;
    width: 109px;
    bottom: 8px;
    right: -24px;
  }

  .team__item-name {
    font-size: 8px;
  }

  .team__item-descr {
    font-size: 7px;
  }

  .feedback__item-video {
    width: 200px;
  }

  .feedback__item-img {
    width: 200px;
  }

  .feedback__slider {
    width: 447px;
  }

  .feedback__item-content {
    padding-bottom: 45px;
  }

  .product__item-text {
    font-size: 15px;
  }

  .promo__text {
    font-size: 15px;
  }

  .promo__link {
    font-size: 12px;
  }

  .promo {
    padding: 67px 0;
  }

  .contacts__img {
    width: 187px;
    object-fit: cover;
  }

  .form {
    width: 440px;
    gap: 0 20px;
    padding: 30px 22px;
  }

  .form__title {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .form__btn {
    margin-top: 10px;
  }
}


@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header__menu-list {
    width: 153px;
    background-color: #7b6152;
    color: #fff8f3;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform .5s ease;
  }

  .header__menu-list.menu--open {
    transform: translateY(0%);
  }

  .menu__btn {
    display: flex;
  }

  .header__menu {
    order: 1;
  }

  .section__inner {
    display: block;
  }

  .section__descr {
    margin-bottom: 30px;
    text-align: center;
  }

  .team__item-box {
    left: 80px;
    right: auto;
  }
}


@media (max-width: 500px) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer__menu-list {
    flex-direction: column;
  }

  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
}


@media (max-width: 480px) {
  .top__img-l {
    width: 309px;
    left: 160px;
  }

  .top__content {
    width: 180px;
  }

  .top__title {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }

  .top__buy {
    padding: 14px 41px;
    font-size: 10px;
  }

  .top {
    padding: 30px 0 50px;
  }

  .about__content {
    min-width: 170px;
  }

  .about__list {
    margin-left: 0;
    padding-left: 10px;
  }

  .about__item-text {
    display: none;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }

  .about__item-img--2 {
    width: 140px;
  }

  .about__list {
    gap: 0 5px;
    align-items: flex-end;
    margin-bottom: 0;
  }

  .about__inner {
    align-items: flex-end;
  }

  .about {
    margin-bottom: 50px;
  }

  .section {
    padding-bottom: 50px;
  }

  .section__content-descr {
    padding-bottom: 62px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .section__descr {
    margin: 0 auto 30px;
    width: 300px;
  }

  .steps__list {
    gap: 20px 25px;
  }

  .team {
    margin-bottom: 50px;
  }

  .certificates__content img {
    width: 200px;
  }

  .certificates__slider {
    width: 600px;
  }


  .feedback__item {
    grid-template-columns: auto;
    align-items: center;
  }

  .feedback__slider {
    width: 260px;
    margin: 0 auto;
  }

  .feedback__item-img {
    width: 250px;
    margin: 0 auto 20px;
  }

  .promo {
    padding: 42px 0;
  }

  .contacts__img {
    display: none;
  }

  .form__input::placeholder {
    font-size: 10px;
  }

  .contacts {
    padding-top: 50px;
  }
}

@media (max-width: 404px) {
  .steps__list {
    gap: 25px 40px;
  }

  .steps__item {
    gap: 0 16px;
  }

  .steps__item-img {
    width: 66px;
  }

  .steps__item-text {
    font-size: 6px;
  }

  .courses__content {
    grid-template-columns: auto;
  }

  .team__content {
    grid-template-columns: auto;
  }

  .team__img {
    width: 204px;
  }

  .team__item-name {
    font-size: 12px;
  }


  .team__item-descr {
    font-size: 10px;
  }


  .team__item-box {
    width: 150px;
    bottom: 15px;
    left: 148px;
  }
}

@media (max-width: 360px) {
  .top__img-l {
    width: 150px;
  }

  .top__img {
    left: auto;
    right: 0;
  }

  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }

  .top__title {
    font-size: 18px;
  }

  .top__text {
    font-size: 10px;
    position: relative;
    z-index: 1;
  }

  body {
    font-size: 8px;
  }

  .about__content {
    min-width: 233px;
  }

  .title {
    margin-bottom: 10px;
  }

  .about__list {
    /* padding-left: 12px;
    margin-left: 12px; */
    gap: 0 15px;
    padding-bottom: 30px;
  }

  .about {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .about__item-img--2 {
    display: none;
  }

  .about__item-img--3 {
    display: none;
  }

  .section__descr {
    margin: 0 auto 25px;
    width: 235px;
  }

  .products__item,
  .products__item-img {
    width: 150px;
  }

  .products__content {
    gap: 40px 7px;
  }

  .button {
    font-size: 8px;
    padding: 8px 20px;
  }

  .product__item-price {
    font-size: 10px;
    padding-bottom: 5px;
  }

  .product__item-title {
    font-size: 10px;
  }

  .product__item-text {
    margin-bottom: 16px;
  }

  .courses__item,
  .courses__item img {
    width: 250px;
  }

  .promo__text {
    margin-right: 50px;
  }
}